<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>速習 Spring Boot</title>
  </head>
  <body>
    <!-- 未認証ユーザー用の表示 -->
    <div class="container" th:if="${user == null}">
      With GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>

    <!-- 認証済みユーザー用の表示 -->
    <div class="container" th:if="${user != null}">
      Logged in as: <span th:text="${user.login}"></span>
      <br />
      <!-- <a href="/logout">Logout</a> -->
      <!-- ログアウトフォーム -->
      <form th:action="@{/logout}" method="post">
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
